/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*CSS Class*/
@layer components {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
